/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        mt_capsword: mt_capsword {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_CAPSWORD";
            bindings = <&kp>, <&caps_word>;

            #binding-cells = <2>;
            tapping-term-ms = <140>;
        };
    };

    macros {
        alt_1: alt_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp NUMBER_1>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "ALT_1";
        };

        alt_2: alt_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp NUMBER_2>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "ALT_2";
        };

        alt_5: alt_5 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp NUMBER_5>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "ALT_5";
        };

        alt_3: alt_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp NUMBER_3>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "ALT_3";
        };

        alt_4: alt_4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp NUMBER_4>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "ALT_4";
        };

        alt_6: alt_6 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp NUMBER_6>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "ALT_6";
        };

        alt_7: alt_7 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp NUMBER_7>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "ALT_7";
        };

        alt_8: alt_8 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp NUMBER_8>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "ALT_8";
        };

        alt_9: alt_9 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp NUMBER_9>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "ALT_9";
        };

        alt_0: alt_0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp NUMBER_0>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "ALT_0";
        };

        alt_shift_q: alt_shift_q {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT &kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp Q>,
                <&macro_release>,
                <&kp LEFT_ALT &kp LEFT_SHIFT>;

            label = "ALT_SHIFT_Q";
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_enter {
            bindings = <&kp RETURN>;
            key-positions = <19 20>;
        };

        capsword {
            bindings = <&caps_word>;
            key-positions = <16 15>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Qwerty {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Qwerty";
            bindings = <
&kp ESCAPE        &kp Q  &kp W  &kp E  &kp R  &kp T        &kp Y          &kp U             &kp I      &kp O    &kp P     &to 5
&kp TAB           &kp A  &kp S  &kp D  &kp F  &kp G        &kp H          &kp J             &kp K      &kp L    &kp SEMI  &kp SQT
&kp LEFT_CONTROL  &kp Z  &kp X  &kp C  &kp V  &kp B        &kp N          &kp M             &kp COMMA  &kp DOT  &kp FSLH  &kp BACKSLASH
                                &mo 3  &mo 1  &kp SPACE    &kp BACKSPACE  &kp LEFT_CONTROL  &mo 2
            >;
        };

        Numbers {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &kp PLUS      &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp ASTERISK  &kp EQUAL
&trans  &trans  &trans  &trans  &trans  &trans    &kp MINUS     &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp SLASH     &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp NUMBER_0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp COMMA     &trans
                        &trans  &trans  &trans    &trans        &trans        &trans
            >;

            label = "Numbers";
        };

        Symbols {
            bindings = <
&trans  &kp EXCLAMATION  &kp AT_SIGN  &kp LEFT_BRACE        &kp RIGHT_BRACE        &trans    &trans  &kp MINUS  &kp UNDERSCORE  &kp ASTERISK   &trans  &trans
&trans  &kp HASH         &kp DOLLAR   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans    &trans  &kp COLON  &kp CARET       &kp PERCENT    &trans  &trans
&trans  &trans           &trans       &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &trans    &trans  &kp PLUS   &kp EQUAL       &kp AMPERSAND  &trans  &trans
                                      &trans                &trans                 &trans    &trans  &trans     &trans
            >;

            label = "Symbols";
        };

        Navigation {
            bindings = <
&alt_shift_q  &alt_1  &alt_2  &alt_3  &alt_4  &alt_5    &alt_6          &alt_7          &alt_8        &alt_9           &alt_0  &trans
&trans        &trans  &trans  &trans  &trans  &trans    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans  &trans
&trans        &trans  &trans  &trans  &trans  &trans    &trans          &trans          &trans        &trans           &trans  &trans
                              &trans  &trans  &trans    &trans          &trans          &trans
            >;

            label = "Navigation";
        };

        Magic {
            bindings = <
&sys_reset  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans      &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans      &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                            &trans  &trans  &trans    &trans  &trans  &trans
            >;

            label = "Magic";
        };

        Gallium {
            display-name = "Gallium";
            bindings = <
&kp ESCAPE        &kp B  &kp L  &kp D  &kp C        &kp V        &kp J          &kp Y          &kp O      &kp U    &kp SEMI  &to 0
&kp TAB           &kp N  &kp R  &kp T  &kp S        &kp G        &kp P          &kp H          &kp A      &kp E    &kp I     &kp SQT
&kp LEFT_CONTROL  &kp X  &kp Q  &kp M  &kp W        &kp Z        &kp K          &kp F          &kp COMMA  &kp DOT  &kp FSLH  &kp BACKSLASH
                                &mo 3  &lt 1 SPACE  &kp SPACE    &kp BACKSPACE  &kp BACKSPACE  &mo 2
            >;
        };
    };
};
